/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Mivel a navbar fix, így a tartalom ne takarja */
}

.navbar {
    background-color: #33271e; /* A kívánt szín */
    height: 50px; /* Navigációs sáv magassága */
    display: flex;
    justify-content: space-between; /* Bal és jobb oldali elemeket széthúzza */
    align-items: center; /* Függőlegesen középre igazítja */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
}

/* Linkek stílusa */
.navbar-link {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 15px;
}

/* Hover effektek a linkekre */
.navbar-link:hover {
    background-color: #575757;
}

/* Admin felület */
.admin-body {
    padding-top: 70px; /* Térköz a navbar alatt */
}

.admin-title {
    text-align: center;
    color: #6b4521;
    font-size: 2.5em;
    margin-top: 40px;
}

.admin-subtitle {
    color: #6b4521;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.admin-input,
.admin-textarea {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-submit {
    background-color: #33271e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.admin-submit:hover {
    background-color: #575757;
}

/* Könyvek listája */
.admin-book-list {
    list-style: none;
    padding: 0;
}

.admin-book-item {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-book-title {
    font-size: 1.5em;
    font-weight: bold;
}

.admin-book-author,
.admin-book-date {
    font-size: 1.1em;
    color: #555;
}

.admin-edit-link,
.admin-delete-link {
    color: #0066cc;
    margin-left: 10px;
    text-decoration: none;
}

.admin-edit-link:hover,
.admin-delete-link:hover {
    text-decoration: underline;
}
