body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #1b263b;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1b263b;
    margin-top: 30px;
    font-size: 2.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.profile-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-pic {
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e0e0e0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    max-width: 500px;
}

.profile-info h2 {
    font-size: 2em;
    color: #1b263b;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 1.2em;
    color: #444444;
    margin-bottom: 10px;
}

.profile-info strong {
    color: #41b883;
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b263b;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #41b883;
}

.navbar-link:hover {
    background-color: #1b263b;
    transform: scale(1.1);
    color: #ffffff;
}
