body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #1b263b;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b263b;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #41b883;
}

.navbar-link:hover {
    background-color: #1b263b;
    transform: scale(1.1);
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #1b263b;
    margin-top: 20px;
    font-size: 2.8em;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

li {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 20px;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

li .user-info {
    flex: 1;
    min-width: 300px; /* Állítsd be a kívánt szélességet */
    max-width: 400px;
}

li .user-info span {
    display: block;
    color: #1b263b;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 5px;
}

li .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li .actions a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(230, 57, 70, 0.1);
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

li .actions a:hover {
    background-color: #e63946;
    color: #ffffff;
}

li .actions a.disabled {
    pointer-events: none;
    background-color: #cccccc;
    color: #666666;
}
