<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Felület</title>
    <link rel="stylesheet" href="static/css/admin_style.css"> <!-- CSS link -->
</head>
<body class="admin-body">

    <div class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-link">Könyvek</a>
        </div>
        <div class="navbar-right">
            <a href="/admin/users" class="navbar-link">Felhasználók kezelése</a>
            <a href="/logout" class="navbar-link">Kijelentkezés</a>
        </div>
    </div>

    <h1 class="admin-title">Könyvek kezelése</h1>

    <h2 class="admin-subtitle">Könyv hozzáadása</h2>
    <form class="admin-form" action="/admin" method="POST">
        <label class="admin-label" for="title">Cím:</label><br>
        <input class="admin-input" type="text" id="title" name="title" required><br><br>

        <label class="admin-label" for="author">Szerző:</label><br>
        <input class="admin-input" type="text" id="author" name="author" required><br><br>

        <label class="admin-label" for="description">Leírás:</label><br>
        <textarea class="admin-textarea" id="description" name="description"></textarea><br><br>

        <label class="admin-label" for="published_date">Kiadás dátuma:</label><br>
        <input class="admin-input" type="date" id="published_date" name="published_date" required><br><br>

        <input class="admin-submit" type="submit" value="Hozzáadás">
    </form>

    <h2 class="admin-subtitle">Létező könyvek:</h2>
    <ul class="admin-book-list">
        {% for book in books %}
        <li class="admin-book-item">
            <strong class="admin-book-title">{{ book.title }}</strong> 
            by <span class="admin-book-author">{{ book.author }}</span> - 
            <span class="admin-book-date">{{ book.published_date.strftime('%Y-%m-%d') }}</span>
            <a class="admin-edit-link" href="{{ url_for('admin.edit_book', id=book.id) }}">Szerkesztés</a>
            <a class="admin-delete-link" href="{{ url_for('admin.delete_book', id=book.id) }}" onclick="return confirm('Biztosan törölni szeretnéd?')">Törlés</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
