<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Könyv szerkesztése</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="edit-body">

    <div class="navbar">
        <!-- Bal oldali menü -->
        <div class="navbar-left">
            <a href="/" class="navbar-link">Könyvek</a>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="/admin" class="navbar-link">Admin</a>
            {% endif %}
        </div>
        <!-- Jobb oldali menü -->
        <div class="navbar-right">
            {% if not current_user.is_authenticated %}
                <a href="/register" class="navbar-link">Regisztráció</a>
                <a href="/login" class="navbar-link">Bejelentkezés</a>
            {% else %}
                <a href="/profile" class="navbar-link">Profil</a>
                <a href="/logout" class="navbar-link">Kijelentkezés</a>
            {% endif %}
        </div>
    </div>

    <h1 class="edit-title">Könyv szerkesztése</h1>
    <form class="edit-form" method="POST">
        <label class="edit-label" for="title">Cím:</label>
        <input class="edit-input" type="text" id="title" name="title" value="{{ book.title }}" required>
        <br><br>
        <label class="edit-label" for="author">Szerző:</label>
        <input class="edit-input" type="text" id="author" name="author" value="{{ book.author }}" required>
        <br><br>
        <label class="edit-label" for="description">Leírás:</label>
        <textarea class="edit-textarea" id="description" name="description" required>{{ book.description }}</textarea>
        <br><br>
        <label class="edit-label" for="published_date">Megjelenés dátuma:</label>
        <input class="edit-input" type="date" id="published_date" name="published_date" value="{{ book.published_date.strftime('%Y-%m-%d') }}" required>
        <br><br>
        <button class="edit-button" type="submit">Mentés</button>
    </form>
    <br>
    <a class="edit-link" href="{{ url_for('admin.admin_dashboard') }}">Vissza a könyvlistához</a>
</body>
</html>
