<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/home_style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Könyvek</a> <!-- Kattintható "Könyvek" felirat -->
    </div>

    <h1>Kapható könyvek</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> <!-- Könyv címe -->
                <span>{{ book.author }}</span> <!-- Szerző -->
                <em>{{ book.published_date }}</em> <!-- Kiadási dátum -->
                <p class="description">{{ book.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
