<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
</head>
<body>

    <div class="navbar">
        <!-- Bal oldali menü -->
        <div class="navbar-left">
            <a href="/" class="navbar-link">Könyvek</a>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="/admin" class="navbar-link">Admin</a>
            {% endif %}
        </div>
        <!-- Jobb oldali menü -->
        <div class="navbar-right">
            {% if not current_user.is_authenticated %}
                <a href="/register" class="navbar-link">Regisztráció</a>
                <a href="/login" class="navbar-link">Bejelentkezés</a>
            {% else %}
                <a href="/profile" class="navbar-link">Profil</a>
                <a href="/logout" class="navbar-link">Kijelentkezés</a>
            {% endif %}
        </div>
    </div>

    <h1>Bejelentkezés</h1>
    <form action="/login" method="POST">
        <label for="username">Felhasználónév:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Bejelentkezés</button>
    </form>
</body>
</html>
