<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="static/css/register_style.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-link">Könyvek</a>
        </div>
        <div class="navbar-right">
            <a href="/login" class="navbar-link">Bejelentkezés</a>
        </div>
    </div>

    <h1>Regisztráció</h1>
    <form action="/register" method="POST" id="registerForm">
        <label for="last_name">Vezetéknév:</label>
        <input type="text" id="last_name" name="last_name" pattern="^[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+([ -]?[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+)*$" required>
        <span id="last_name_error" class="error"></span><br>
    
        <label for="first_name">Keresztnév:</label>
        <input type="text" id="first_name" name="first_name" pattern="^[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+( [A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+)*$" required>
        <span id="first_name_error" class="error"></span><br>
    
        <label for="username">Felhasználónév:</label>
        <input type="text" id="username" name="username" required>
        <span id="username_error" class="error">{{ errors.get('username', '') }}</span><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <span id="email_error" class="error">{{ errors.get('email', '') }}</span><br>

    
        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required>
        <span id="password_error" class="error"></span><br>
    
        <label for="confirm_password">Jelszó megerősítése:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <span id="confirm_password_error" class="error"></span><br>

        <button type="submit" id="submitButton" disabled>Regisztráció</button>
    </form>
    
    <script>
        document.getElementById('last_name').addEventListener('input', validateForm);
        document.getElementById('first_name').addEventListener('input', validateForm);
        document.getElementById('username').addEventListener('input', validateForm);
        document.getElementById('email').addEventListener('input', validateForm);
        document.getElementById('password').addEventListener('input', validateForm);
        document.getElementById('confirm_password').addEventListener('input', validateForm);

        function validateForm() {
            let hasErrors = false;

            const lastName = document.getElementById('last_name').value;
            const lastNameError = document.getElementById('last_name_error');
            if (!/^[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+([ -]?[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+)*$/.test(lastName)) {
                lastNameError.textContent = 'A vezetéknév csak betűket, egy space-t vagy kötőjelet tartalmazhat!';
                hasErrors = true;
            } else {
                lastNameError.textContent = '';
            }

            const firstName = document.getElementById('first_name').value;
            const firstNameError = document.getElementById('first_name_error');
            if (!/^[A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+( [A-ZÁÉÍÓÖŐÚÜŰa-záéíóöőúüű]+)*$/.test(firstName)) {
                firstNameError.textContent = 'A keresztnév csak betűket és középen space-t tartalmazhat!';
                hasErrors = true;
            } else {
                firstNameError.textContent = '';
            }

            const username = document.getElementById('username').value;
            const usernameError = document.getElementById('username_error');
            if (!/^[A-Za-z0-9]{3,}$/.test(username)) {
                usernameError.textContent = 'A felhasználónév legalább 3 karakterből kell álljon és csak betűkből és számokból!';
                hasErrors = true;
            } else {
                usernameError.textContent = '';
            }

            const email = document.getElementById('email').value;
            const emailError = document.getElementById('email_error');
            if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                emailError.textContent = 'Érvényes email címet kell megadni!';
                hasErrors = true;
            } else {
                emailError.textContent = '';
            }

            const password = document.getElementById('password').value;
            const passwordError = document.getElementById('password_error');
            if (!/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*.])[A-Za-z0-9!@#$%^&*.]{8,}$/.test(password)) {
                passwordError.textContent = 'A jelszónak legalább 8 karakter hosszúnak kell lennie, tartalmaznia kell kis- és nagybetűt, számot és speciális karaktert!';
                hasErrors = true;
            } else {
                passwordError.textContent = '';
            }

            const confirmPassword = document.getElementById('confirm_password').value;
            const confirmPasswordError = document.getElementById('confirm_password_error');
            if (password !== confirmPassword) {
                confirmPasswordError.textContent = 'A jelszó és a megerősített jelszó nem egyezik!';
                hasErrors = true;
            } else {
                confirmPasswordError.textContent = '';
            }

            document.getElementById('submitButton').disabled = hasErrors;
        }
    </script>

</body>
</html>
