<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználók kezelése</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users_style.css') }}">
</head>
<body>

    <div class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-link">Könyvek</a>
        </div>
        <div class="navbar-right">
            <a href="/admin" class="navbar-link">Könyvek kezelése</a>
            <a href="/logout" class="navbar-link logout-link">Kijelentkezés</a>
        </div>
    </div>

    <h1>Felhasználók kezelése</h1>
    <ul>
        {% for user in users %}
        <li>
            <div class="user-info">
                <span><strong>Vezetéknév:</strong> {{ user.last_name }}</span>
                <span><strong>Keresztnév:</strong> {{ user.first_name }}</span>
                <span><strong>Felhasználónév:</strong> {{ user.username }}</span>
                <span><strong>Email:</strong> {{ user.email }}</span>
                <span><strong>Admin jog:</strong> {{ "Igen" if user.is_admin else "Nem" }}</span>
            </div>
            <div class="actions">
                {% if user.is_protected != 1 and user.id != current_user.id %}
                    {% if not user.is_admin %}
                        <a href="{{ url_for('admin.delete_user', id=user.id) }}" 
                           onclick="return confirm('Biztosan törölni szeretnéd?')">Törlés</a>
                    {% endif %}
                    <a href="{{ url_for('toggle_admin', id=user.id) }}" 
                       onclick="return confirm('Biztosan módosítani szeretnéd az admin jogot?')">
                       {{ "Admin jog visszavonása" if user.is_admin else "Admin jog adása" }}
                    </a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
